<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>




  <connectionStrings>
    <add name="evajones" connectionString="Server=localhost\sqldev01;Database=evajones;User Id=ejapp; Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
